---
const url = 'https://api.agentesocial.com/widget/booking/ZIYe8XGFfENxqvZHGTBD'
---

<div id="ghl-booking" data-url={url} data-embed="true" data-theme="light" style="width:100%;height:100vh"></div>
<script src="https://widgets.leadconnectorhq.com/loader.js" data-resources-url="https://widgets.leadconnectorhq.com"></script>
